Repository shaed-parkar/ss-dotnet-api: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/ss-dotnet-api-ci.yaml, pipelines/ss-dotnet-api-infra.yaml

Path conditions:
  pipelines/ss-dotnet-api-ci.yaml: any of: src, tests, but not: scripts
  pipelines/ss-dotnet-api-infra.yaml: any of: infrastructure

add deploy to prod stage
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update pipeline
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update stage name
  pipelines/ss-dotnet-api-ci.yaml
Due: none

download artifacts before release
  infrastructure/AppServiceStack.cs
  pipelines/ss-dotnet-api-ci.yaml
Due: pipelines/ss-dotnet-api-infra.yaml

add condition to only deploy prod for main branch only
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update artifacts name
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update deployment zip path
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update app name
  pipelines/ss-dotnet-api-ci.yaml
Due: none

limit items to download from pipeline
  pipelines/ss-dotnet-api-ci.yaml
Due: none

set deploy to app service true
  pipelines/ss-dotnet-api-ci.yaml
Due: none

remove resource group from deployment job
  pipelines/ss-dotnet-api-ci.yaml
Due: none

Add deployment stages in CI (#7)
  infrastructure/AppServiceStack.cs
  pipelines/ss-dotnet-api-ci.yaml
Due: pipelines/ss-dotnet-api-infra.yaml

update connection string for db
  infrastructure/AppServiceStack.cs
  src/Api/Api.csproj
  src/Api/Program.cs
  src/Api/web.config
Due: pipelines/ss-dotnet-api-ci.yaml, pipelines/ss-dotnet-api-infra.yaml

add health check path and allow staging infra step to run all the time
  infrastructure/AppServiceStack.cs
  pipelines/ss-dotnet-api-infra.yaml
Due: pipelines/ss-dotnet-api-infra.yaml

remove triggers for infra pipeline
  pipelines/ss-dotnet-api-infra.yaml
Due: none

move pool name to variable
  pipelines/ss-dotnet-api-ci.yaml
Due: none

add templates
  pipelines/templates/stages/jobs/deploy-azure-web-app.yaml
  pipelines/templates/stages/release.yaml
Due: none

use template for deploy to staging
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update job name for downloading artifacts
  pipelines/templates/stages/jobs/deploy-azure-web-app.yaml
Due: none

update template path name
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update template path
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update param name
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update path name
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update var name
  pipelines/templates/stages/jobs/deploy-azure-web-app.yaml
Due: none

add more default values
  pipelines/ss-dotnet-api-ci.yaml
  pipelines/templates/stages/jobs/deploy-azure-web-app.yaml
Due: none

update trigger
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update prod deploy stage to use template
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update exclusion for api CI
  pipelines/ss-dotnet-api-ci.yaml
Due: none

update infra to use template
  pipelines/ss-dotnet-api-infra.yaml
  pipelines/templates/stages/jobs/run-pulumi.yaml
Due: none

Update infra and pipelines (#9)
  infrastructure/AppServiceStack.cs
  pipelines/ss-dotnet-api-ci.yaml
  pipelines/ss-dotnet-api-infra.yaml
  pipelines/templates/stages/jobs/deploy-azure-web-app.yaml
  pipelines/templates/stages/jobs/run-pulumi.yaml
  pipelines/templates/stages/release.yaml
  src/Api/Api.csproj
  src/Api/Program.cs
  src/Api/web.config
Due: pipelines/ss-dotnet-api-ci.yaml, pipelines/ss-dotnet-api-infra.yaml

Add GetAllAuthors route Move using statements to global
  src/Api/Controllers/AuthorsController.cs
  src/SS.DAL/Queries/GetAllAuthorsQuery.cs
  tests/Api.Tests/Api.Tests.csproj
  tests/Api.Tests/ApiTestHelper.cs
  tests/Api.Tests/ApiUriFactory.cs
  tests/Api.Tests/AuthorTests/AddNewAuthorTests.cs
  tests/Api.Tests/AuthorTests/GetAllAuthorsTests.cs
  tests/Api.Tests/AuthorTests/GetAuthorByIdTests.cs
  tests/Api.Tests/AuthorTests/HttpContentExtensions.cs
  tests/Api.Tests/ControllerTest.cs
  tests/Api.Tests/Mocked/AuthorTests/GetAuthorByIdTests.cs
  tests/Api.Tests/Properties/GlobalUsings.cs
  tests/Api.Tests/ValidationTests/NewAuthorValidationTests.cs
  tests/SS.DAL.Tests/Properties/GlobalUsings.cs
  tests/SS.DAL.Tests/Queries/GetAllAuthorsQueryTests.cs
  tests/SS.Domain.Tests/AuthorTests/AddNoteTests.cs
  tests/SS.Domain.Tests/AuthorTests/CreatePersonTests.cs
  tests/SS.Domain.Tests/AuthorTests/UpdateNameTests.cs
  tests/SS.Domain.Tests/NoteTests/CreateNoteTests.cs
  tests/SS.Domain.Tests/NoteTests/UpdateNoteContentTests.cs
  tests/SS.Domain.Tests/SS.Domain.Tests.csproj
  tests/SS.IntegrationTests.Common/DefaultBuilderSettings.cs
  tests/SS.IntegrationTests.Common/SS.IntegrationTests.Common.csproj
  tests/SS.IntegrationTests.Common/TestDataManager.cs
  tests/SS.IntegrationTests.Common/TestDbBuilder.cs
Due: pipelines/ss-dotnet-api-ci.yaml

move using statements to global for dal project
  src/SS.DAL/AuthStoreContext.cs
  src/SS.DAL/Commands/AddAuthorCommand.cs
  src/SS.DAL/Commands/AddNoteCommand.cs
  src/SS.DAL/Commands/Core/CommandHandler.cs
  src/SS.DAL/Commands/Core/CommandHandlerFactory.cs
  src/SS.DAL/Commands/Core/CommandHandlerLoggingDecorator.cs
  src/SS.DAL/Commands/Core/ICommand.cs
  src/SS.DAL/Commands/Core/ICommandHandler.cs
  src/SS.DAL/Commands/Core/ICommandHandlerFactory.cs
  src/SS.DAL/DesignTimeAuthStoreContext.cs
  src/SS.DAL/Exceptions/AuthorException.cs
  src/SS.DAL/Mappings/AuthorMap.cs
  src/SS.DAL/Mappings/NoteMap.cs
  src/SS.DAL/Properties/GlobalUsings.cs
  src/SS.DAL/Queries/Core/IQuery.cs
  src/SS.DAL/Queries/Core/IQueryHandler.cs
  src/SS.DAL/Queries/Core/IQueryHandlerFactory.cs
  src/SS.DAL/Queries/Core/QueryHandler.cs
  src/SS.DAL/Queries/Core/QueryHandlerFactory.cs
  src/SS.DAL/Queries/Core/QueryHandlerLoggingDecorator.cs
  src/SS.DAL/Queries/GetAllAuthorsQuery.cs
  src/SS.DAL/Queries/GetAllNotesForAuthorQuery.cs
  src/SS.DAL/Queries/GetAuthorByIdQuery.cs
  src/SS.DAL/SS.DAL.csproj
Due: pipelines/ss-dotnet-api-ci.yaml

Add remove author route Correctly register middleware to capture domain exceptions
  src/Api/Api.csproj
  src/Api/Controllers/AuthorsController.cs
  src/Api/Extensions/AppBuilderDbExtensions.cs
  src/Api/Extensions/ModelStateExtensions.cs
  src/Api/Extensions/ServiceCollectionExtensions.cs
  src/Api/Extensions/WebApplicationExtension.cs
  src/Api/Middleware/ExceptionMapperMiddleware.cs
  src/Api/Middleware/ExceptionMiddleware.cs
  src/Api/Middleware/LogResponseBodyMiddleware.cs
  src/Api/Middleware/LoggingActionFilter.cs
  src/Api/Middleware/Validation/IRequestModelValidatorService.cs
  src/Api/Middleware/Validation/RequestModelValidatorFactory.cs
  src/Api/Middleware/Validation/RequestModelValidatorFilter.cs
  src/Api/Middleware/Validation/RequestModelValidatorService.cs
  src/Api/Program.cs
  src/Api/Properties/GlobalUsings.cs
  src/Api/Validations/NewAuthorValidation.cs
  src/Api/web.config
  src/SS.DAL/Commands/RemoveAuthorCommand.cs
  src/SS.DAL/SS.DAL.csproj
  tests/Api.Tests/Api.Tests.csproj
  tests/Api.Tests/ApiUriFactory.cs
  tests/Api.Tests/AuthorTests/GetAllAuthorsTests.cs
  tests/Api.Tests/AuthorTests/GetAuthorByIdTests.cs
  tests/Api.Tests/AuthorTests/HttpContentExtensions.cs
  tests/Api.Tests/AuthorTests/RemoveAuthorByIdTests.cs
  tests/SS.DAL.Tests/Commands/RemoveAuthorCommandTests.cs
  tests/SS.DAL.Tests/SS.DAL.Tests.csproj
Due: pipelines/ss-dotnet-api-ci.yaml

Apply code clean up
  src/Api/Api.csproj
  src/Api/Extensions/AppBuilderDbExtensions.cs
  src/Api/Extensions/ServiceCollectionExtensions.cs
  src/Api/Extensions/WebApplicationExtension.cs
  src/Api/Middleware/ExceptionMapperMiddleware.cs
  src/Api/Middleware/LoggingActionFilter.cs
  src/Api/Middleware/Validation/RequestModelValidatorFactory.cs
  src/Api/Middleware/Validation/RequestModelValidatorFilter.cs
  src/Api/Middleware/Validation/RequestModelValidatorService.cs
  src/Api/Validations/NewAuthorValidation.cs
  src/SS.Api.Contracts/AuthorDto.cs
  src/SS.Api.Contracts/Requests/NewAuthorDto.cs
  src/SS.Common/LoggingDataExtractor.cs
  src/SS.Common/SS.Common.csproj
  src/SS.DAL/Commands/RemoveAuthorCommand.cs
  src/SS.DAL/SS.DAL.csproj
  src/SS.Domain/Author.cs
  src/SS.Domain/Core/AggregateRoot.cs
  src/SS.Domain/Note.cs
  src/SS.Domain/Validations/DomainRuleException.cs
  src/SS.Domain/Validations/ValidationFailure.cs
  tests/Api.Tests/Api.Tests.csproj
  tests/Api.Tests/ApiUriFactory.cs
  tests/Api.Tests/AuthorTests/RemoveAuthorByIdTests.cs
  tests/SS.DAL.Tests/Commands/RemoveAuthorCommandTests.cs
  tests/SS.DAL.Tests/SS.DAL.Tests.csproj
Due: pipelines/ss-dotnet-api-ci.yaml

change infrastructure doc file type to md
  docs/infrastructure.md
Due: none

update pipeline triggers
  pipelines/ss-dotnet-api-ci.yaml
  pipelines/ss-dotnet-api-infra.yaml
Due: none

disable pr trigger for infra
  pipelines/ss-dotnet-api-infra.yaml
Due: none
